.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.background-header {
    width: 100%;
    height: 35%;
    position: fixed;
    top: 0;
}

.background-footer {
    width: 100%;
    height: 65%;
    position: fixed;
    bottom: 0;
}

.login-card {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 3%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

.full-width {
    width: 100%;
}

.title {
    align-items: center;
}

.tuaficionado {
    background-color: #E64A19;
}

.ciudadbici {
    background-color: #2979FF;
}

.bicitrip {
    background-color: #388E3C;
}